# Node.js dependencies (if installed locally)
ClientApp/node_modules
ClientApp/.env
ClientApp/.env.*

# Git-related files
.git
.gitignore
.gitattributes

# Editor/IDE files
*.swp
*.swo
.vscode/
.idea/
*.log

# Local environment configurations
.env
.env.*
.dockerignore

ServerData.db
data/ServerData.db

/sqlite/
/sqlite/ServerData.db
sqlite/
sqlite/ServerData.db


# Build artifacts
bin/
obj/

package-lock.json

*.xml  # (if you want to ignore all XML Rider settings)
Dockerfile

README.md
secrets.env